{{#unless (math @index "%" 4)}}
<div class="clearfix visible-lg-block"></div>
{{/unless}} 

{{#unless (math @index "%" 3)}}
<div class="clearfix visible-md-block"></div>
{{/unless}} 

{{#unless (math @index "%" 2)}}
<div class="clearfix visible-sm-block"></div>
{{/unless}}
